ion-content{
  --background:#24a2b7;
}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.logo{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    -webkit-animation:rotate-center 2s ease-in-out both;animation:rotate-center 2s ease-in-out both;
  }
}
