<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of [1,2,3,4,5]" size-lg="4" size-md="4" size="12" >
        <ion-card >
          <img src="/assets/img/covishield.jpeg">
          <ion-card-header>
            <ion-card-title>Covishield</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            Vaccin utilisé à Madagascar actuellement. 
            Modification RCP du 25/05/2022 : instauration d'une dose de rappel
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
