
<div>
  <div class="banner">
      <div class="slider">
          <img src="../../assets/fond1.jpg" alt="fond_1" id="slideImg"/>
      </div>
      <div class="overlay">
          <div class="content">
              <h1>VACCIN CONTRE LE COVID-19</h1>
              <h3>C'est le meilleur moyen de se protéger du virus. Le vaccin renforce l'immunité donc il est conseillé de faire le vaccin pour éviter les formes graves.</h3>
              <div>
                  <button type="button" class="buttonslider" (click)="redirectionLogin()">CONNEXION PATIENT</button>
              </div>
          </div>
      </div>
  </div>
</div>